* {
  padding: 0;
  margin: 0;
}
body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter";
  height: 1000px;
  overflow: hidden;
}
.top {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-top a {
  color: hsl(233, 8%, 79%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a:hover {
  color: hsl(5, 85%, 63%);
}
.container {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 200px 150px 150px;
  grid-template-areas: "design design new" "sum content new" "retro laptops gaming ";
  gap: 20px;
}

.img-design {
  grid-area: design;
}
.img-design img {
  width: 620px;
  height: 200px;
}
.new {
  grid-area: new;
  background-color: hsl(240, 100%, 5%);
}
.new h1 {
  color: hsl(35, 77%, 62%);
  margin-left: 0.5em;
}
.new h2:hover {
  color: hsl(35, 77%, 62%);
}
.new p {
  color: white;
  font-weight: 300;
}
hr {
  margin-top: 20px;
}
p {
  color: hsl(236, 13%, 42%);
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}
h2 {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
}
.sum {
  grid-area: sum;
}
.sum h2 {
  color: black;
  font-weight: 800;
  font-size: 40px;
  padding: 0px;
}
.content {
  grid-area: content;
}
button {
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  width: 180px;
  align-content: flex-start;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: hsl(5, 85%, 63%);
  border: 0px;
  margin-left: 10px;
}
button:hover {
  background-color: black;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.options a {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
}
.img-icon img {
  width: 100px;
  height: 120px;
  padding: 0px;
}
.retro {
  grid-area: retro;
}

.laptops {
  grid-area: laptops;
}
.gaming {
  grid-area: gaming;
}
